ansi2html==1.6.0
anyio 
argon2-cffi 
async-generator 
attrs 
Babel 
backcall 
bleach 
Bottleneck==1.3.2
Brotli 
brotlipy==0.7.0
certifi==2021.10.8
cffi 
charset-normalizer==2.0.7
click==8.0.3
cryptography 
cycler 
dash 
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
debugpy 
decorator 
defusedxml 
entrypoints==0.3
Flask 
Flask-Compress 
fonttools==4.25.0
future==0.18.2
gunicorn 
idna 
importlib-metadata 
ipython 
ipython-genutils 
itsdangerous 
jedi 
Jinja2 
json5 
jsonschema 
kiwisolver 
lxml==4.6.4
MarkupSafe 
matplotlib 
matplotlib-inline 
mistune==0.8.4
mkl-fft==1.3.1
mkl-random 
mkl-service==2.4.0
multitasking==0.0.9
munkres==1.1.4
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
numexpr 
numpy 
olefile 
packaging 
pandas==1.3.4
pandocfilters 
parso 
pexpect 
pickleshare 
Pillow==8.4.0
plotly 
prometheus-client 
prompt-toolkit 
ptyprocess 
pycparser 
Pygments 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
python-dateutil 
pytz==2021.3
PyYAML==6.0
pyzmq 
requests 
retrying==1.3.3
Send2Trash 
sip
six 
sniffio 
tenacity 
terminado==0.9.4
testpath 
tornado 
traitlets 
urllib3==1.26.7
wcwidth 
webencodings==0.5.1
Werkzeug 
yfinance==0.1.64
zipp 
